<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>cellClass</key>
			<string>ThomzHeaderCell</string>
			<key>height</key>
    		<real>220</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.notbrightrespringpreferences</string>
			<key>key</key>
			<string>enable</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.notbrightrespringpreferences</string>
			<key>key</key>
			<string>brightness</string>
			<key>default</key>
			<real>0.5</real>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>leftImageSystem</key>
			<dict>
				<key>name</key>
				<string>light.min</string>
			</dict>
			<key>rightImageSystem</key>
			<dict>
				<key>name</key>
				<string>light.max</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBPackageTableCell</string>
			<key>label</key>
			<string>NotBrightRespring</string>
			<key>packageIdentifier</key>
			<string>com.thomz.notbrightrespring</string>
			<key>subtitle</key>
			<string>Choose screen brightness after respring</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Thomz</string>
			<key>user</key>
			<string>thompgm</string>
			<key>showAvatar</key>
    		<true/>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
